In [117]:
import pandas as pd
import numpy as np
import re

In [118]:
df = pd.read_csv('data.csv')
df.head()

,accelerationTime,bodyType,brand,cargoVolume,curbWeight,driveWheelConfiguration,eLabel,emissionsCO2,engineCapacity,fuelCapacity,...,url,vEengineDisplacement,vEenginePower,vEengineType,vEfuelType,vehicleTransmission,weight,weightTotal,wheelbase,width
0,"6,8","3-doors, hatchback",Audi,270-1020 l,1375 kg,front+rear,g,218 g/km,1781 cc,55 l,...,http://www.cars-data.com/en/audi-s3-quattro-sp...,1781,154.0,fuel engine,Gasoline,Manual transmission,NaN,1935,2519,1763
1,"7,8","5-doors, station wagon",Audi,565-1680 l,1745 kg,front+rear,c,115 g/km,1968 cc,73 l,...,http://www.cars-data.com/en/audi-a6-avant-40-t...,1968,150.0,fuel engine,Diesel,Automatic with double clutch,NaN,2425,2924,1886
2,"9,2","5-doors, station wagon",Honda,624-1668 l,1188 kg,front,e,146 g/km,1798 cc,50 l,...,http://www.cars-data.com/en/honda-civic-tourer...,1798,104.0,fuel engine,Gasoline,Manual transmission,NaN,1790,2595,1770
3,"9,5","5-doors, station wagon",Audi,565-1680 l,1685 kg,front,b,109 g/km,1968 cc,73 l,...,http://www.cars-data.com/en/audi-a6-avant-35-t...,1968,120.0,fuel engine,Diesel,Automatic with double clutch,NaN,2330,2924,1886
4,"7,0","5-doors, station wagon",Audi,565-1680 l,1680 kg,front,c,144 g/km,1984 cc,73 l,...,http://www.cars-data.com/en/audi-a6-avant-45-t...,1984,180.0,fuel engine,Gasoline,Automatic with double clutch,NaN,2310,2924,1886

In [119]:
df.columns

Index(['accelerationTime', 'bodyType', 'brand', 'cargoVolume', 'curbWeight',
       'driveWheelConfiguration', 'eLabel', 'emissionsCO2', 'engineCapacity',
       'fuelCapacity', 'fuelConsumption', 'fuelType', 'height', 'length',
       'model', 'modelDate', 'name', 'numberOfAxles', 'numberOfDoors',
       'numberOfForwardGears', 'payload', 'price', 'roofLoad',
       'seatingCapacity', 'speed', 'torque', 'trailerWeight', 'url',
       'vEengineDisplacement', 'vEenginePower', 'vEengineType', 'vEfuelType',
       'vehicleTransmission', 'weight', 'weightTotal', 'wheelbase', 'width'],
      dtype='object')

In [120]:
# accelerationTime
df['accelerationTime'] = list(map(lambda x: x.replace(',', '.'), df['accelerationTime']))
df['accelerationTime'] = pd.to_numeric(df['accelerationTime'], errors='coerce')
df['accelerationTime']

0         6.8
1         7.8
2         9.2
3         9.5
4         7.0
         ...
75990     9.5
75991    11.1
75992    10.3
75993     9.5
75994    11.1
Name: accelerationTime, Length: 75995, dtype: float64

In [121]:
# bodyType
# Take string value after ","
df['bodyType'] = list(map(lambda x: x.split(',')[1].strip(), df['bodyType']))
df['bodyType'] = df['bodyType'].astype('string')
df['bodyType']

0            hatchback
1        station wagon
2        station wagon
3        station wagon
4        station wagon
             ...
75990            sedan
75991            sedan
75992            sedan
75993            sedan
75994            sedan
Name: bodyType, Length: 75995, dtype: string

In [122]:
# brand
df['brand'] = df['brand'].astype('string')
df['brand']

0          Audi
1          Audi
2         Honda
3          Audi
4          Audi
          ...
75990    Subaru
75991    Subaru
75992    Subaru
75993    Subaru
75994    Subaru
Name: brand, Length: 75995, dtype: string

In [123]:
# cargoVolume
# take maximum value and remove "not digit" part
df["cargoVolume"] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else "", df["cargoVolume"]))
df['cargoVolume'] = pd.to_numeric(df['cargoVolume'], errors='coerce')
df['cargoVolume']

0        1020.0
1        1680.0
2        1668.0
3        1680.0
4        1680.0
          ...
75990     486.0
75991     486.0
75992     486.0
75993     486.0
75994     486.0
Name: cargoVolume, Length: 75995, dtype: float64

In [124]:
df['cargoVolume'].isna().sum()
# df['cargoVolume']

1049

In [125]:
# curbWeight
# remove "kg" part and take number if exists
df['curbWeight'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else "", df['curbWeight']))
df['curbWeight'] = pd.to_numeric(df['curbWeight'], errors='coerce')
df['curbWeight']

0        1375.0
1        1745.0
2        1188.0
3        1685.0
4        1680.0
          ...
75990    1395.0
75991    1435.0
75992    1452.0
75993    1395.0
75994    1435.0
Name: curbWeight, Length: 75995, dtype: float64

In [126]:
df['curbWeight'].isna().sum()

226

In [127]:
# driveWheelConfiguration
# not null value exists

In [128]:
# eLabel
# have 14154 NA value
df['eLabel'] = df['eLabel'].astype('string')

In [129]:
# emissionsCO2
# remove "g/km" part and fill na if exists
df['emissionsCO2'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['emissionsCO2']))
df['emissionsCO2'] = pd.to_numeric(df['emissionsCO2'], errors='coerce')
df['emissionsCO2'] = df['emissionsCO2'].replace(0, np.nan)
df['emissionsCO2']

0        218.0
1        115.0
2        146.0
3        109.0
4        144.0
         ...
75990    198.0
75991    185.0
75992    190.0
75993    198.0
75994    185.0
Name: emissionsCO2, Length: 75995, dtype: float64

In [130]:
df['emissionsCO2'].isna().sum()

14290

In [131]:
# engineCapacity
# take only number
df['engineCapacity'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['engineCapacity'].apply(str)))
df['engineCapacity'] = pd.to_numeric(df['engineCapacity'], errors='coerce')
df['engineCapacity']

0        1781.0
1        1968.0
2        1798.0
3        1968.0
4        1984.0
          ...
75990    1994.0
75991    1994.0
75992    2457.0
75993    1994.0
75994    1994.0
Name: engineCapacity, Length: 75995, dtype: float64

In [132]:
df['engineCapacity'].isna().sum()

177

In [133]:
# fuelCapacity
# take only number
df['fuelCapacity'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['fuelCapacity'].apply(str)))
df['fuelCapacity'] = pd.to_numeric(df['fuelCapacity'], errors='coerce')
df['fuelCapacity']

0        55.0
1        73.0
2        50.0
3        73.0
4        73.0
         ...
75990    64.0
75991    64.0
75992    64.0
75993    64.0
75994    64.0
Name: fuelCapacity, Length: 75995, dtype: float64

In [134]:
df['fuelCapacity'].isna().sum()

180

In [135]:
# fuelConsumption
df['fuelConsumption'] = list(map(lambda x: x.replace("l/100km", "").replace(",", "."), df['fuelConsumption'].apply(str)))
df['fuelConsumption'] = pd.to_numeric(df['fuelConsumption'], errors='coerce')
df['fuelConsumption']

0        9.1
1        5.9
2        6.2
3        5.4
4        7.4
        ...
75990    8.5
75991    8.0
75992    8.2
75993    8.5
75994    8.0
Name: fuelConsumption, Length: 75995, dtype: float64

In [136]:
df['fuelConsumption']

0        9.1
1        5.9
2        6.2
3        5.4
4        7.4
        ...
75990    8.5
75991    8.0
75992    8.2
75993    8.5
75994    8.0
Name: fuelConsumption, Length: 75995, dtype: float64

In [137]:
# fuelType
df['fuelType'] = df['fuelType'].astype("string")

In [138]:
df['fuelType'].isna().sum()

137

In [139]:
# height
df['height'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['height'].apply(str)))
df['height'] = pd.to_numeric(df['height'], errors='coerce')
df['height']

0        1415.0
1        1494.0
2        1480.0
3        1494.0
4        1494.0
          ...
75990    1505.0
75991    1505.0
75992    1505.0
75993    1505.0
75994    1505.0
Name: height, Length: 75995, dtype: float64

In [140]:
df['height'].isna().sum()

70

In [141]:
# length
df['length'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['length'].apply(str)))
df['length'] = pd.to_numeric(df['length'], errors='coerce')
df['length']

0        4159.0
1        4939.0
2        4590.0
3        4939.0
4        4939.0
          ...
75990    4730.0
75991    4730.0
75992    4730.0
75993    4730.0
75994    4730.0
Name: length, Length: 75995, dtype: float64

In [142]:
df['length'].isna().sum()

21

In [143]:
# model
df['model'].isna().sum()

0

In [144]:
# modelDate
df['modelDate'] = df['modelDate'].astype('Int32')
df['modelDate']

0        1999
1        2018
2        2015
3        2018
4        2018
         ...
75990    2009
75991    2009
75992    2009
75993    2009
75994    2009
Name: modelDate, Length: 75995, dtype: Int32

In [145]:
# name
df['name'] = df['name'].astype('string')
df['name']

0                     Audi S3 Quattro Manual 3 doors specs
1        Audi A6 Avant 40 TDI Quattro Pro Line Automati...
2        Honda Civic Tourer 1.8 Comfort Manual 5 doors ...
3        Audi A6 Avant 35 TDI Pro Line Automatic 5 door...
4        Audi A6 Avant 45 TFSI Pro Line Automatic 5 doo...
                               ...
75990        Subaru Legacy 2.0i Intro Manual 4 doors specs
75991     Subaru Legacy 2.0i Intro Automatic 4 doors specs
75992    Subaru Legacy 2.5i Luxury Automatic 4 doors specs
75993    Subaru Legacy 2.0i Corporate Edition Manual 4 ...
75994    Subaru Legacy 2.0i Corporate Edition Automatic...
Name: name, Length: 75995, dtype: string

In [146]:
# number of Axles
df['numberOfAxles'] = df['numberOfAxles'].astype('Int32')
df['numberOfAxles'].isna().sum()

0

In [147]:
# numberOfForwardGears
df['numberOfForwardGears'] = df['numberOfForwardGears'].replace('t', np.nan)

In [148]:
df['numberOfForwardGears'].isna().sum()

1969

In [149]:
# payload
df['payload'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['payload'].apply(str)))
df['payload'] = pd.to_numeric(df['payload'], errors='coerce')
df['payload']

0        560.0
1        680.0
2        602.0
3        645.0
4        630.0
         ...
75990    605.0
75991    585.0
75992    568.0
75993    605.0
75994    585.0
Name: payload, Length: 75995, dtype: float64

In [150]:
df['payload'].isna().sum()

1019

In [151]:
# price
df['price'] = list(map(lambda x: re.findall('\\d+.*\\d*', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['price'].apply(str)))
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['price']

0        42.247
1        68.930
2        30.580
3        64.510
4        69.770
          ...
75990    31.995
75991    33.995
75992    39.995
75993    29.995
75994    30.995
Name: price, Length: 75995, dtype: float64

In [152]:
df['price'] = df['price'].replace(0, np.nan)
df['price'].isna().sum()

171

In [153]:
# roofLoad
df['roofLoad'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['roofLoad'].apply(str)))
df['roofLoad'] = pd.to_numeric(df['roofLoad'], errors='coerce')
df['roofLoad']

0         75.0
1        100.0
2         75.0
3        100.0
4        100.0
         ...
75990     80.0
75991     80.0
75992     80.0
75993     80.0
75994     80.0
Name: roofLoad, Length: 75995, dtype: float64

In [154]:
df['roofLoad'].isna().sum()

11222

In [155]:
# seating Capacity
df['seatingCapacity'] = pd.to_numeric(df['seatingCapacity'], errors='coerce')
df['seatingCapacity'] = df['seatingCapacity'].replace(0, np.nan)
df['seatingCapacity']

0        5.0
1        5.0
2        5.0
3        5.0
4        5.0
        ...
75990    5.0
75991    5.0
75992    5.0
75993    5.0
75994    5.0
Name: seatingCapacity, Length: 75995, dtype: float64

In [156]:
df['seatingCapacity'].isna().sum()

1969

In [157]:
# speed
df['speed'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['speed'].apply(str)))
df['speed'] = pd.to_numeric(df['speed'], errors='coerce')
df['speed']

0        238.0
1        241.0
2        210.0
3        219.0
4        250.0
         ...
75990    210.0
75991    203.0
75992    210.0
75993    210.0
75994    203.0
Name: speed, Length: 75995, dtype: float64

In [158]:
# speed
df['speed'].isna().sum()

780

In [159]:
# torque
df['torque'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['torque'].apply(str)))
df['torque'] = pd.to_numeric(df['torque'], errors='coerce')
df['torque']

0        270.0
1        400.0
2        174.0
3        370.0
4        370.0
         ...
75990    196.0
75991    196.0
75992    229.0
75993    196.0
75994    196.0
Name: torque, Length: 75995, dtype: float64

In [160]:
df['torque'].isna().sum()

107

In [161]:
# vEengineDisplacement
df['vEengineDisplacement'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['vEengineDisplacement'].apply(str)))
df['vEengineDisplacement'] = pd.to_numeric(df['vEengineDisplacement'], errors='coerce')
df['vEengineDisplacement']

0        1781.0
1        1968.0
2        1798.0
3        1968.0
4        1984.0
          ...
75990    1994.0
75991    1994.0
75992    2457.0
75993    1994.0
75994    1994.0
Name: vEengineDisplacement, Length: 75995, dtype: float64

In [162]:
df['vEengineDisplacement'].isna().sum()

177

In [163]:
# vEenginePower
df['vEenginePower'] = pd.to_numeric(df['vEenginePower'], errors='coerce')
df['vEenginePower']

0        154.0
1        150.0
2        104.0
3        120.0
4        180.0
         ...
75990    110.0
75991    110.0
75992    123.0
75993    110.0
75994    110.0
Name: vEenginePower, Length: 75995, dtype: float64

In [164]:
df['vEenginePower'].isna().sum()

49

In [165]:
# vEengineType
df['vEengineType'] = df['vEengineType'].astype("string")
df['vEengineType']

0        fuel engine
1        fuel engine
2        fuel engine
3        fuel engine
4        fuel engine
            ...
75990    fuel engine
75991    fuel engine
75992    fuel engine
75993    fuel engine
75994    fuel engine
Name: vEengineType, Length: 75995, dtype: string

In [166]:
# vEfuelType
df['vEfuelType'] = df['vEfuelType'].replace("", pd.NA)
df['vEfuelType'] = df['vEfuelType'].astype("string")
df['vEfuelType']

0        Gasoline
1          Diesel
2        Gasoline
3          Diesel
4        Gasoline
           ...
75990    Gasoline
75991    Gasoline
75992    Gasoline
75993    Gasoline
75994    Gasoline
Name: vEfuelType, Length: 75995, dtype: string

In [167]:
# vehicleTransmission
df['vehicleTransmission'] = df['vehicleTransmission'].astype("string")
df['vehicleTransmission']

0                 Manual transmission
1        Automatic with double clutch
2                 Manual transmission
3        Automatic with double clutch
4        Automatic with double clutch
                     ...
75990             Manual transmission
75991              traploze automatic
75992              traploze automatic
75993             Manual transmission
75994              traploze automatic
Name: vehicleTransmission, Length: 75995, dtype: string

In [168]:
# weightTotal
df['weightTotal'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['weightTotal'].apply(str)))
df['weightTotal'] = pd.to_numeric(df['weightTotal'], errors='coerce')
df['weightTotal']

0        1935.0
1        2425.0
2        1790.0
3        2330.0
4        2310.0
          ...
75990    2000.0
75991    2020.0
75992    2020.0
75993    2000.0
75994    2020.0
Name: weightTotal, Length: 75995, dtype: float64

In [169]:
df['weightTotal'].isna().sum()

1012

In [170]:
# wheelbase
df['wheelbase'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['wheelbase'].apply(str)))
df['wheelbase'] = pd.to_numeric(df['wheelbase'], errors='coerce')
df['wheelbase']

0        2519.0
1        2924.0
2        2595.0
3        2924.0
4        2924.0
          ...
75990    2750.0
75991    2750.0
75992    2750.0
75993    2750.0
75994    2750.0
Name: wheelbase, Length: 75995, dtype: float64

In [171]:
# width
df['width'] = list(map(lambda x: re.findall('\\d+', x)[-1] if len(re.findall('\\d+', x)) != 0 else np.nan, df['width'].apply(str)))
df['width'] = pd.to_numeric(df['width'], errors='coerce')
df['width']

0        1763.0
1        1886.0
2        1770.0
3        1886.0
4        1886.0
          ...
75990    1780.0
75991    1780.0
75992    1780.0
75993    1780.0
75994    1780.0
Name: width, Length: 75995, dtype: float64

In [172]:
df['width'].isna().sum()

25

In [173]:
df['wheelbase'].isna().sum()

26

In [174]:
df.to_csv('cars_data_cleaning.csv', index=False)