In [147]:
import pandas as pd
import numpy as np
import re

In [148]:
df = pd.read_csv('cars_data_cleaning.csv')
df.head()

,accelerationTime,bodyType,brand,cargoVolume,curbWeight,driveWheelConfiguration,eLabel,emissionsCO2,engineCapacity,fuelCapacity,...,url,vEengineDisplacement,vEenginePower,vEengineType,vEfuelType,vehicleTransmission,weight,weightTotal,wheelbase,width
0,6.8,hatchback,Audi,1020.0,1375.0,front+rear,g,218.0,1781.0,55.0,...,http://www.cars-data.com/en/audi-s3-quattro-sp...,1781.0,154.0,fuel engine,Gasoline,Manual transmission,NaN,1935.0,2519.0,1763.0
1,7.8,station wagon,Audi,1680.0,1745.0,front+rear,c,115.0,1968.0,73.0,...,http://www.cars-data.com/en/audi-a6-avant-40-t...,1968.0,150.0,fuel engine,Diesel,Automatic with double clutch,NaN,2425.0,2924.0,1886.0
2,9.2,station wagon,Honda,1668.0,1188.0,front,e,146.0,1798.0,50.0,...,http://www.cars-data.com/en/honda-civic-tourer...,1798.0,104.0,fuel engine,Gasoline,Manual transmission,NaN,1790.0,2595.0,1770.0
3,9.5,station wagon,Audi,1680.0,1685.0,front,b,109.0,1968.0,73.0,...,http://www.cars-data.com/en/audi-a6-avant-35-t...,1968.0,120.0,fuel engine,Diesel,Automatic with double clutch,NaN,2330.0,2924.0,1886.0
4,7.0,station wagon,Audi,1680.0,1680.0,front,c,144.0,1984.0,73.0,...,http://www.cars-data.com/en/audi-a6-avant-45-t...,1984.0,180.0,fuel engine,Gasoline,Automatic with double clutch,NaN,2310.0,2924.0,1886.0

In [149]:
# bodyType
# no null value
bodyType_list = df['bodyType'].unique().tolist()
bodyType_list.sort()

for idx, value in enumerate(bodyType_list):
    df['bodyType'] = df['bodyType'].replace(value, idx)

df['bodyType']

0        3
1        7
2        7
3        7
4        7
        ..
75990    6
75991    6
75992    6
75993    6
75994    6
Name: bodyType, Length: 75995, dtype: int64

In [150]:
# brand
# no null value
brand_list = df['brand'].unique().tolist()
brand_list.sort()
print(f'Number of unique brand :{len(brand_list)}')

for idx, value in enumerate(brand_list):
    df['brand'] = df['brand'].replace(value, idx)

df['brand']

Number of unique brand :89

0         4
1         4
2        30
3         4
4         4
         ..
75990    78
75991    78
75992    78
75993    78
75994    78
Name: brand, Length: 75995, dtype: int64

In [151]:
# curbWeight
# number already
df['curbWeight'].isna().sum()

226

In [152]:
# cargoVolume
# number already
df['cargoVolume'].isna().sum()

1049

In [153]:
df['driveWheelConfiguration'].isna().sum()

0

In [154]:
# driveWheelConfiguration
# no null
driver_config_list = df['driveWheelConfiguration'].unique().tolist()
driver_config_list.sort()
print(f'Number of unique driver config :{len(driver_config_list)}')

for idx, value in enumerate(driver_config_list):
    df['driveWheelConfiguration'] = df['driveWheelConfiguration'].replace(value, idx)

df['driveWheelConfiguration']

Number of unique driver config :3

0        1
1        1
2        0
3        0
4        0
        ..
75990    1
75991    1
75992    1
75993    1
75994    1
Name: driveWheelConfiguration, Length: 75995, dtype: int64

In [155]:
df['eLabel'].isna().sum()

14154

In [156]:
# eLabel
# have null value
elabel_list = df['eLabel'].dropna().unique().tolist()
elabel_list.sort()
print(elabel_list)
print(f'Number of unique not null eLabel: {len(elabel_list)}')

for idx, value in enumerate(elabel_list):
    df['eLabel'] = df['eLabel'].replace(value, idx)

# df['eLabel'] = df['eLabel'].fillna(value=len(elabel_list))
df['eLabel']

['a', 'b', 'c', 'd', 'e', 'f', 'g']
Number of unique not null eLabel: 7

0        6.0
1        2.0
2        4.0
3        1.0
4        2.0
        ...
75990    6.0
75991    6.0
75992    6.0
75993    6.0
75994    6.0
Name: eLabel, Length: 75995, dtype: float64

In [157]:
# emission
# have null value
# already number
df['emissionsCO2']

0        218.0
1        115.0
2        146.0
3        109.0
4        144.0
         ...
75990    198.0
75991    185.0
75992    190.0
75993    198.0
75994    185.0
Name: emissionsCO2, Length: 75995, dtype: float64

In [158]:
df['fuelType'].isna().sum()

137

In [159]:
# fuelType
# special same key: 'Bio ethanol / gasoline', 'Gasoline / bio ethanol'
fuel_class = df['fuelType'].dropna().unique().tolist()
# remove gasoline / bio ethanol
fuel_class.remove('Gasoline / bio ethanol')
fuel_class.sort()
fuel_class

['Bio ethanol',
 'Bio ethanol / gasoline',
 'Diesel',
 'Gasoline',
 'LPG',
 'LPG / gasoline',
 'Natural gas',
 'Natural gas / gasoline']

In [160]:
# Gasoline / bio ethanol is same as Bio ethanol / gasoline
num_class = len(fuel_class) - 1

repair = []
for value in df['fuelType']:
    if value in fuel_class:
        repair.append(fuel_class.index(value))
    elif value == "Gasoline / bio ethanol":
        repair.append(fuel_class.index('Bio ethanol / gasoline'))
    else:
        repair.append(value)
# print(repair[:10])
# print( df['fuelType'].iloc[:10])
df['fuelType'] = repair
df['fuelType'].value_counts()

3.0    46738
2.0    28039
0.0      390
7.0      204
5.0      192
6.0      130
4.0       93
1.0       72
Name: fuelType, dtype: int64

In [161]:
df['vEengineType'].isna().sum()

0

In [162]:
# vEengineType
# not null value
EngineType_list = df['vEengineType'].unique().tolist()
EngineType_list.sort()
print('list engineType: ', EngineType_list)

for idx, value in enumerate(EngineType_list):
    df['vEengineType'] = df['vEengineType'].replace(value, idx)

df['vEengineType']

list engineType:  ['electric motor', 'fuel engine', 'hybrid', 'plugin hybrid']

0        1
1        1
2        1
3        1
4        1
        ..
75990    1
75991    1
75992    1
75993    1
75994    1
Name: vEengineType, Length: 75995, dtype: int64

In [163]:
df['vEfuelType'].isna().sum()

137

In [164]:
EfuelType_list = df['vEfuelType'].dropna().unique().tolist()
EfuelType_list.sort()
EfuelType_list

['Bio ethanol',
 'Bio ethanol / gasoline',
 'Diesel',
 'Gasoline',
 'Gasoline / bio ethanol',
 'LPG',
 'LPG / gasoline',
 'Natural gas',
 'Natural gas / gasoline']

In [165]:
# vEfuelType
# duplicate fuel Type -> remove
# have null
df = df.drop(['vEfuelType'], axis=1)
# print('unique list: ', EfuelType_list)
# for idx, value in enumerate(EfuelType_list):
#     df['vEfuelType'] = df['vEfuelType'].replace(value, idx)
#
# # df['vEfuelType'] = df['vEfuelType'].fillna(value=len(EfuelType_list))
#
# df['vEfuelType']

In [166]:
# vehicleTransmission
# no null value
vehicleTrans_list = df['vehicleTransmission'].unique().tolist()
vehicleTrans_list.sort()

print('unique list: ', vehicleTrans_list)
for idx, value in enumerate(vehicleTrans_list):
    df['vehicleTransmission'] = df['vehicleTransmission'].replace(value, idx)

df['vehicleTransmission']

unique list:  ['Automatic', 'Automatic with double clutch', 'Manual transmission', 'Semi-automatic', 'traploze automatic']

0        2
1        1
2        2
3        1
4        1
        ..
75990    2
75991    4
75992    4
75993    2
75994    4
Name: vehicleTransmission, Length: 75995, dtype: int64

In [167]:
df = df.drop(['url', 'weight', 'trailerWeight', 'name', 'model', 'numberOfAxles'], axis=1)
df.columns

Index(['accelerationTime', 'bodyType', 'brand', 'cargoVolume', 'curbWeight',
       'driveWheelConfiguration', 'eLabel', 'emissionsCO2', 'engineCapacity',
       'fuelCapacity', 'fuelConsumption', 'fuelType', 'height', 'length',
       'modelDate', 'numberOfDoors', 'numberOfForwardGears', 'payload',
       'price', 'roofLoad', 'seatingCapacity', 'speed', 'torque',
       'vEengineDisplacement', 'vEenginePower', 'vEengineType',
       'vehicleTransmission', 'weightTotal', 'wheelbase', 'width'],
      dtype='object')

In [168]:
# number of forward gear
df['numberOfForwardGears'] = df['numberOfForwardGears'].replace(0, np.nan)

In [170]:
df.to_csv('convert_number_data_final.csv', index=False)